<!DOCTYPE html>
<html>

  <head>
    <title>Index</title>
  </head>
      <body>


<h2 align="center">Welcome to PizzaShop!</h2>
<br />
<div class="row" style="background-color:Gainsboro; ">

<% @products.each do |p| %>
 <div class="col-md-4" class="col-sm-4" class="col-lg-4"><hr/>
 	<div align="center"><strong>
 		<%= p.title %></strong>
    </div> 
    		

	<div align="center" >
    	<img src="<%= p.path_to_image %>" width="300" height="200" />	
    </div>
    		
 	<div align="center">
 		<%= p.description %>		
    </div> 
    	
    <div align="center">
 		Size: <%= p.size %> cm		
    </div> 
    	
    <div align="center">
 		Price:  <%= p.price %>	rub	
    </div> 
    		

    <div align="center">
<button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
	</div> 
	<br />
	<br />

</div>
	<% end %>


</div>
<br />
<br />

   </body>
   </html>

<script type="text/javascript">

$(function() {

      update_orders_input();
      update_orders_button();
      
   });


</script>
